set timeout=5
set default=0

# Графический режим GRUB меню
insmod all_video
set gfxmode=1024x768x32
terminal_output gfxterm

menuentry "NoNameOS" {
    # Графический framebuffer 1024x768, 32bpp
    set gfxpayload=1024x768x32
    multiboot2 /boot/kernel.bin
    boot
}

menuentry "NoNameOS (800x600)" {
    set gfxpayload=800x600x32
    multiboot2 /boot/kernel.bin
    boot
}

menuentry "NoNameOS (Text Mode)" {
    set gfxpayload=text
    multiboot2 /boot/kernel.bin
    boot
}

menuentry "NoNameOS (Safe Mode)" {
    set gfxpayload=text
    multiboot2 /boot/kernel.bin
    boot
}
